<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<array>
		<string>title</string>
		<string>urltitle</string>
		<string>doctitle</string>
		<string>name</string>
		<string>channelTitle</string>
		<string>MetaDataTitle</string>
		<string>cname</string>
		<string>sitename</string>
		<string>channelName</string>
	</array>
	<key>content</key>
	<array>
		<string>content</string>
		<string>desc</string>
		<string>pic_title</string>
		<string>sitedesc</string>
		<string>abstract</string>
		<string>docabstract</string>
		<string>ir_adstract</string>
	</array>
	<key>image</key>
	<array>
		<string>pic</string>
		<string>picurl</string>
		<string>spic</string>
		<string>image</string>
		<string>images</string>
		<string>icon</string>
		<string>img</string>
		<string>image_url</string>
		<string>RelPhoto</string>
		<string>relphoto</string>
	</array>
	<key>url</key>
	<array>
		<string>url</string>
		<string>link</string>
		<string>siteurl</string>
		<string>docURL</string>
		<string>docpuburl</string>
		<string>articleUrl</string>
		<string>imageurl</string>
		<string>image_url</string>
		<string>LINKURL</string>
		<string>_DOCPUBURL</string>
		<string>SourceLink</string>
	</array>
	<key>docId</key>
	<array>
		<string>docid</string>
		<string>docId</string>
		<string>docID</string>
		<string>channelId</string>
		<string>channelID</string>
	</array>
	<key>imageId</key>
	<array>
		<string>picid</string>
		<string>picId</string>
		<string>imageId</string>
	</array>
</dict>
</plist>
