<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>center</key>
	<array>
		<dict>
			<key>title</key>
			<string>我的阅读</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的收藏</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的评论</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的消息</string>
			<key>type</key>
			<string>3</string>
		</dict>
		<dict>
			<key>title</key>
			<string>离线阅读</string>
			<key>type</key>
			<string>4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>意见反馈</string>
			<key>type</key>
			<string>5</string>
		</dict>
		<dict>
			<key>title</key>
			<string>邀请朋友</string>
			<key>type</key>
			<string>6</string>
			<key>share</key>
			<dict>
				<key>title</key>
				<string>TRS新闻</string>
				<key>content</key>
				<string>我在这里发现了一个好玩的东东，我的朋友赶紧参与进来吧！</string>
				<key>image</key>
				<string>http://cdn.duitang.com/uploads/item/201509/21/20150921002936_UM5WZ.thumb.700_0.jpeg</string>
				<key>url</key>
				<string>http://www.baidu.com</string>
			</dict>
		</dict>
	</array>
	<key>profile</key>
	<array>
		<dict>
			<key>title</key>
			<string>昵称</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>性别</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>签名</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>平台授权</string>
			<key>type</key>
			<string>4</string>
		</dict>
	</array>
</dict>
</plist>
