<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>字体设置</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>正文字号</string>
			<key>type</key>
			<integer>1</integer>
			<key>options</key>
			<array>
				<string>极小</string>
				<string>小</string>
				<string>中</string>
				<string>大</string>
				<string>极大</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>自动播放视频</string>
			<key>type</key>
			<integer>2</integer>
			<key>options</key>
			<array>
				<string>3G/4G和WiFi</string>
				<string>仅WiFi</string>
				<string>关闭</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>仅WiFi网络加载图片</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>接收推送</string>
			<key>type</key>
			<integer>4</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>夜间模式</string>
			<key>type</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>扫一扫</string>
			<key>type</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>清理缓存</string>
			<key>type</key>
			<integer>22</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我要评分</string>
			<key>type</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>关于我们</string>
			<key>type</key>
			<integer>41</integer>
		</dict>
	</array>
</array>
</plist>
