<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AboutUsUrl</key>
	<string>http://www.baidu.com</string>
	<key>UserAgreementUrl</key>
	<string>http://www.163.com</string>
</dict>
</plist>
